apiVersion: apps/v1
kind: Deployment
metadata:
  name: upload-web
  namespace: upload-service-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: upload-web
  template:
    metadata:
      labels:
        app: upload-web
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: upload-web
          image: upload-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          env:
            # Из ConfigMap
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: upload-config
                  key: postgres-user
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: upload-config
                  key: postgres-host
            - name: POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  name: upload-config
                  key: postgres-port
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: upload-config
                  key: postgres-db
            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: upload-config
                  key: redis-host
            - name: REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: upload-config
                  key: redis-port
            - name: REDIS_DB
              valueFrom:
                configMapKeyRef:
                  name: upload-config
                  key: redis-db
            - name: PYTHONPATH
              valueFrom:
                configMapKeyRef:
                  name: upload-config
                  key: pythonpath

            # Из Secret
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: upload-secrets
                  key: postgres-password

            # Собранные URL
            - name: DATABASE_URL
              value: "postgresql+asyncpg://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(POSTGRES_HOST):$(POSTGRES_PORT)/$(POSTGRES_DB)"
            - name: CELERY_BROKER_URL
              value: "redis://$(REDIS_HOST):$(REDIS_PORT)/$(REDIS_DB)"
            - name: CELERY_RESULT_BACKEND
              value: "redis://$(REDIS_HOST):$(REDIS_PORT)/$(REDIS_DB)"

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 40
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"